*.asc
*.dll
*.exe
*.exp
*.la
*.lib
*.lo
*.o
*.obj
*.pdb
*.pyc
*~
.*.sw?
.cproject
.deps
.dirstamp
.libs
.project
.settings
/.vs
/build/
/builds/
__pycache__
CHANGES.dist
Debug
INSTALL
Makefile
Release
TAGS
autom4te.cache
config.cache
config.log
config.status
curl-*.tar.bz2
curl-*.tar.gz
curl-*.tar.xz
curl-*.zip
curl-config
libcurl.pc
libtool
mkinstalldirs
tags
test-driver
scripts/_curl
curl_fuzzer
curl_fuzzer_seed_corpus.zip
libstandaloneengine.a
